- name: Run backup script
  hosts: "{{ HOST }}"
  tasks:
    - name: Run backup script
      shell: |
        rclone copy ~/docker-compose/dockge hetzner_crypt:main/docker-server/dockge
        rclone copy ~/docker-compose/vaultwarden hetzner_crypt:main/docker-server/vaultwarden
        rclone copy ~/docker-compose/paperless-ngx hetzner_crypt:main/docker-server/paperless-ngx
        rclone copy ~/docker-compose/gitea hetzner_crypt:main/docker-server/gitea
        rclone cop ~/docker-compose/nginx-proxy-manager hetzner_crypt:main/docker-server/nginx-proxy-manager

        curl \
        -u {{ PASSWORD }} \
        -d "$backup_log" \
        -H "Title: Docker Compose folders backed up" \
        -H "Tags: floppy_disk" \
        {{ SERVER }}